* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

:root {
	--pad-xs: 0.25rem;
	--pad-s: 0.5rem;
	--pad-m: 1rem;
	--pad-l: 2rem;
	--pad-xl: 4rem;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--color-light-xl: #ffffff;
	--color-light-l: #fafafa;
	--color-light-s: #f6f6f6;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444444;
	--color-dark-3xl: #292929;
	--color-dark-4xl: #000000;
	--start-screen-gradient-background: #211f20;
	--start-screen-gradient-background-2: #5b483a;
	--footer-gradient-background: #211f20;
}

html {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
	display: flex;
	gap: var(--pad-m);
}
.stack {
	display: flex;
	flex-direction: column;
	gap: var(--pad-m);
}
.just-center {
	justify-content: center;
}
.just-between {
	justify-content: space-between;
}
.align-center {
	align-items: center;
}
.equal > * {
	flex: 1;
}

.fix-width {
	max-width: 1200px;
	margin-inline: auto;
}

.screen {
	min-height: 100vh;
}

.pad-xs {
	padding: var(--pad-xs);
}
.pad-s {
	padding: var(--pad-s);
}
.pad-m,
.pad {
	padding: var(--pad-m);
}
.pad-l {
	padding: var(--pad-l);
}
.pad-xl {
	padding: var(--pad-xl);
}

.gap-xs {
	gap: var(--pad-xs);
}
.gap-s {
	gap: var(--pad-s);
}
.gap-m,
.gap {
	gap: var(--pad-m);
}
.gap-l {
	gap: var(--pad-l);
}
.gap-xl {
	gap: var(--pad-xl);
}

.button-primary {
	background-color: var(--color-primary);
	color: var(--color-dark-3xl);
	padding: var(--pad-m) var(--pad-l);
	border-radius: 30px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

h2 {
	font-size: 2rem;
}